# SF Salaries Exercise

SF Salaries Dataset from Kaggle (https://www.kaggle.com/kaggle/sf-salaries)

Import pandas as pd.

In [1]:
import pandas as pd

Read Salaries.csv as a dataframe called sal.

In [2]:
df=pd.read_csv('salary.csv')

Check the head of the DataFrame.

In [4]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

Use the .info() method to find out how many entries there are.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25344 entries, 0 to 25343
Data columns (total 13 columns):
Id                  25344 non-null int64
EmployeeName        25344 non-null object
JobTitle            25344 non-null object
BasePay             25344 non-null float64
OvertimePay         25344 non-null float64
OtherPay            25344 non-null float64
Benefits            0 non-null float64
TotalPay            25344 non-null float64
TotalPayBenefits    25343 non-null float64
Year                25343 non-null float64
Notes               0 non-null float64
Agency              25343 non-null object
Status              0 non-null float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.5+ MB

What is the average BasePay ?

In [13]:
df['BasePay'].mean()

83758.71310724432

In [6]:
import numpy as np
np.mean(df['BasePay'])

83758.71310724432

In [11]:
df[['BasePay']].apply(np.mean)

BasePay    83758.713107
dtype: float64

What is the highest amount of OvertimePay in the dataset ?

In [14]:
df['OvertimePay'].max()

245131.88

In [12]:
np.max(df['OvertimePay'])

245131.88

In [13]:
df[['OvertimePay']].apply(np.max)

OvertimePay    245131.88
dtype: float64

What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [17]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)?

In [18]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [19]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of highest paid person (including benefits)?

In [22]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [26]:
idx=df['TotalPayBenefits'].idxmax() #최대값을 가진 데이터의 인덱스를 반환
df.loc[idx]['EmployeeName'] #df.loc는 인덱스 단위로 데이터 선택

'NATHANIEL FORD'

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [27]:
idx=df['TotalPayBenefits'].idxmin() #loc기준 값으로 리턴될것이다.
df.loc[idx] #iloc: 몇번째냐, #loc: a,b,c,이런 인덱스도 가능

Id                               25343
EmployeeName               SALLY LAMUS
JobTitle            ELIGIBILITY WORKER
BasePay                        46710.1
OvertimePay                          0
OtherPay                          1260
Benefits                           NaN
TotalPay                       47970.1
TotalPayBenefits               47970.1
Year                              2011
Notes                              NaN
Agency                   San Francisco
Status                             NaN
Name: 25342, dtype: object

직종별 평균 pay를 계산해 보시오

In [29]:
df.groupby('JobTitle')['TotalPayBenefits'].mean()

JobTitle
ACCOUNT CLERK                                         50786.009643
ACCOUNTANT                                            63564.520000
ACCOUNTANT INTERN                                     54047.704375
ACUPUNCTURIST                                         67594.400000
ADMINISTRATIVE ANALYST                                70312.108889
ADMINISTRATIVE ANALYST II                             75585.820000
ADMINISTRATIVE ANALYST III                            92698.515000
ADMINISTRATIVE ENGINEER                              127961.430000
ADMINISTRATIVE SERVICES MANAGER                       77015.580000
ADMINISTRATOR, SFGH MEDICAL CENTER                   257124.440000
AFFIRMATIVE ACTION SPECIALIST                         79082.280000
AGRICULTURAL INSPECTOR                                53586.100000
AIRPORT COMMUNICATIONS OPERATOR                       86240.102500
AIRPORT COMMUNICATIONS SUPERVISOR                     88180.000000
AIRPORT ECONOMIC PLANNER                             108264.821538
AIRPORT ELECTRICIAN                                  108707.828235
AIRPORT ELECTRICIAN SUPERVISOR                       117088.760000
AIRPORT EMERGENCY PLANNING COORDINATOR                75865.935000
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR            128534.170000
AIRPORT NOISE ABATEMENT SPECIALIST                    62636.850000
AIRPORT OPERATIONS SUPERVISOR                         94913.980000
AIRPORT POLICE SERVICES AIDE                          66238.791046
AIRPORT PROPERTY SPECIALIST I                         86407.861818
AIRPORT SAFETY OFFICER                                83393.984706
ANESTHETIST                                          182831.827857
ANIMAL CARE ASSISTANT SUPERVISOR                      56298.620000
ANIMAL CARE ATTENDANT                                 54127.861111
ANIMAL CARE SUPERVISOR                                73618.870000
ANIMAL CONTROL OFFICER                                60925.394444
ANIMAL KEEPER                                         62647.860000
                                                         ...
VICTIM & WITNESS TECHNICIAN                           51311.860000
VICTIM/WITNESS INVESTIGATOR I                         59323.226429
VICTIM/WITNESS INVESTIGATOR II                        67967.568571
VICTIM/WITNESS INVESTIGATOR III                       78487.968182
VOLUNTEER/OUTREACH COORDINATOR                        65830.685714
WASTEWATER CONTROL INSPECTOR                          81344.542222
WATER AND POWER MAINTENANCE SUPERVISOR I             100161.546667
WATER CONSERVATION ADMINISTRATOR                     100557.762500
WATER CONSTRUCTION AND MAINTENANCE SUPERINTENDENT    150352.685000
WATER METER REPAIRER                                  71752.033333
WATER OPERATIONS ANALYST                             107587.205455
WATER QUALITY TECHNICIAN I/II                         68866.077692
WATER QUALITY TECHNICIAN III                          70851.785000
WATER SERVICE INSPECTOR                               89505.428889
WATERSHED FORESTER MANAGER                            92877.545000
WATERSHED KEEPER                                      64052.471905
WATERSHED KEEPER SUPERVISOR                           70496.996667
WELDER                                               103580.763750
WELFARE FRAUD INVESTIGATOR                            85980.607500
WHARFINGER I                                          65259.480000
WHARFINGER II                                         72791.780000
WINDOW CLEANER                                        60352.859375
WINDOW CLEANER SUPERVISOR                             68160.800000
WIRE ROPE CABLE MAINTENANCE MECHANIC                 145073.492500
WIRE ROPE CABLE MAINTENANCE SUPERVISOR               199628.970000
WORKER'S COMPENSATION ADJUSTER                        73943.958095
WORKER'S COMPENSATION SUPERVISOR I                    91020.726000
X-RAY LABORATORY AIDE                                 62281.220500
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS        53632.870000
ZOO CURATOR                                           66686.560000
Name: TotalPayBenefits, Length: 980, dtype: float64

In [31]:
df.groupby('JobTitle')['TotalPayBenefits'].mean().sort_values()

JobTitle
HOUSEKEEPER/FOOD SERVICE CLEANER                       48222.653333
PUBLIC SERVICE AIDE-ASSOCIATE TO PROFESSIONALS         48228.530000
CLAIMS PROCESS CLERK                                   48591.480000
INSTITUTION UTILITY WORKER                             48600.095000
SWIMMING INSTRUCTOR/POOL LIFEGUARD                     48634.028571
SECRETARY,JUVENILE PROBATION COMMISSION                48840.110000
ASSOCIATE MUSEUM REGISTRAR                             49092.980000
MUSEUM PREPARATOR                                      49268.373333
ASSESSMENT CLERK                                       49746.168182
BOOK REPAIRER                                          49902.870000
CLERK TYPIST                                           50035.459681
SENIOR FOOD SERVICE WORKER                             50466.680000
FARMER                                                 50728.440000
TELEPHONE OPERATOR                                     50728.663333
LABORATORY HELPER                                      50766.400000
ACCOUNT CLERK                                          50786.009643
CASHIER I                                              50900.570000
REAL PROPERTY APPRAISER TRAINEE                        50942.020000
SPECIAL ASSISTANT III                                  50980.070000
LEGAL PROCESS CLERK                                    51102.902000
VICTIM & WITNESS TECHNICIAN                            51311.860000
PERSONNEL CLERK                                        51356.834286
SIGNAL AND SYSTEMS ENGINEER                            51450.120000
SHADE AND DRAPERY WORKER                               51640.560000
BRAILLIST                                              51674.510000
DIETETIC TECHNICIAN                                    51683.850000
PLANNER TECHNICIAN                                     51829.840000
SHERIFF'S CADET                                        51830.604000
HEALTH WORKER I                                        52124.641429
CUSTODIAN                                              52339.267734
                                                          ...
HUMAN RESOURCES DIRECTOR                              196377.990000
SHERIFF                                               197233.840000
PUBLIC DEFENDER                                       198027.440000
WIRE ROPE CABLE MAINTENANCE SUPERVISOR                199628.970000
SPECIAL ASSISTANT XXII                                199765.740000
DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG      200921.488000
ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)      203427.850000
COMMANDER III, (POLICE DEPARTMENT)                    205136.507143
DEPARTMENT HEAD IV                                    206610.332500
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE    206704.630000
CITY ATTORNEY                                         208243.120000
CAPTAIN III (POLICE DEPARTMENT)                       211783.893243
ASSISTANT MEDICAL EXAMINER                            212793.172000
CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)     214988.680000
FORENSIC TOXICOLOGIST                                 215318.200000
NURSING SUPERVISOR PSYCHIATRIC                        216598.635000
BATTALION CHIEF, (FIRE DEPARTMENT)                    221418.313409
ASSISTANT DEPUTY CHIEF II                             228724.506000
PORT DIRECTOR                                         233357.280000
DEPARTMENT HEAD V                                     233834.037143
DISTRICT ATTORNEY                                     234848.110000
MAYOR                                                 249375.020000
DEPUTY CHIEF III (POLICE DEPARTMENT)                  250026.488000
ADMINISTRATOR, SFGH MEDICAL CENTER                    257124.440000
CHIEF OF POLICE                                       267992.590000
EXECUTIVE CONTRACT EMPLOYEE                           277438.840000
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)          279359.560000
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)                302377.730000
DEPUTY DIRECTOR OF INVESTMENTS                        307899.460000
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY        399211.275000
Name: TotalPayBenefits, Length: 980, dtype: float64

How many unique job titles are there?

In [33]:
len(df['JobTitle'].unique())

980

What are the top 5 most common jobs?

In [39]:
df['JobTitle'].value_counts().sort_values(ascending=False).iloc[:5]

TRANSIT OPERATOR      1681
REGISTERED NURSE      1129
FIREFIGHTER            780
POLICE OFFICER III     751
DEPUTY SHERIFF         660
Name: JobTitle, dtype: int64

How many Job Titles were represented by only one person in 2011? (e.g. Job Titles with only one occurence in 2011?)

In [43]:
JobCount=df['JobTitle'].value_counts()
JobCount[JobCount<2]

DEPUTY SEALER OF WEIGHTS AND MEASURES                 1
FORENSIC TOXICOLOGIST                                 1
DIRECTOR, EMPLOYEE RELATIONS DIVISION                 1
ACUPUNCTURIST                                         1
ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION      1
ATTORNEY FOR THE PUBLIC ADMINISTRATOR                 1
PRINCIPAL INVESTIGATOR, TAX COLLECTOR                 1
SECRETARY, COMMISSION ON THE ENVIRONMENT              1
ASSISTANT INSPECTOR (POLICE DEPARTMENT)               1
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)                1
CHIEF ELECTRICAL INSPECTOR                            1
CONFIDENTIAL SECRETARY TO DISTRICT ATTORNEY           1
ORNAMENTAL IRON WORKER SUPERVISOR I                   1
SENIOR MATERIALS AND SUPPLIES SUPERVISOR              1
FIELD SERVICES ASSISTANT SUPERVISOR                   1
CHIEF PLUMBING INSPECTOR                              1
ASSISTANT LAW LIBRARIAN                               1
CHIEF DEPUTY ADULT PROBATION OFFICER                  1
TREASURER                                             1
DIRECTOR, PROBATE                                     1
TRIAL DELAY REDUCTION COORDINATOR                     1
MEDIA PRODUCTION SUPERVISOR                           1
SECRETARY TO THE PRESIDING JUDGE                      1
ZOO CURATOR                                           1
LEGISLATIVE CALENDAR CLERK                            1
PLUMBER SUPERVISOR II                                 1
SENIOR CLAIMS INVESTIGATOR                            1
SENIOR PLAN CHECKER                                   1
CONFIDENTIAL SECRETARY CITY ATTORNEY                  1
DISTRICT ATTORNEY                                     1
                                                     ..
LOCKSMITH SUPERVISOR I                                1
AUDIOLOGIST                                           1
BRAILLIST                                             1
SOFT FLOOR COVERER                                    1
POWER PLANT SUPERVISOR I                              1
COURT ADMINISTRATIVE SECRETARY                        1
SHADE AND DRAPERY WORKER                              1
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR       1
EMPLOYMENT AND TRAINING SPECIALIST VI                 1
PRINCIPAL PARTS STOREKEEPER                           1
BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC      1
SECRETARY, LIBRARY COMMISSION                         1
SENIOR OPERATIONS MANAGER                             1
COURT AD RESOLUTION COORDINATOR                       1
CHIEF ADULT PROBATION OFFICER                         1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY    1
POLICE SERVICES AIDE                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE    1
SENIOR LIGHT RAIL VEHICLE EQUIPMENT ENGINEER          1
ASSOCIATE MUSEUM REGISTRAR                            1
COURT CLERK                                           1
DISABILITY ACCESS COORDINATOR                         1
MEDIA/SECURITY SYSTEMS SUPERVISOR                     1
SENIOR PSYCHIATRIC ORDERLY                            1
CLAIMS PROCESS CLERK                                  1
PUBLIC SERVICE AIDE-ASSOCIATE TO PROFESSIONALS        1
RESPIRATORY CARE PRACTITIONER                         1
ASSOCIATE HUMAN RESOURCES ANALYST                     1
HEAD PHOTOGRAPHER                                     1
HUMAN RESOURCES DIRECTOR                              1
Name: JobTitle, Length: 214, dtype: int64

How many people have the word Chief in their job title? (This is pretty tricky)

In [43]:
def checkChief(x):
    result=0
    for i in x:
        if i.find('CHIEF')>-1:
            result=result+1
    return result

checkChief(['CHIEF','CHIEFS', 'CHHHHF'])

2

In [44]:
df[['JobTitle']].apply(checkChief)

JobTitle    193
dtype: int64

Bonus: Is there a correlation between length of the Job Title string and Salary?

In [64]:
def myLength(x):
    return len(x)
myLength('Job Title Title')

15

In [66]:
df['JobTitleLength']=df['JobTitle'].transform(myLength)
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,JobTitleLength
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN,44

In [68]:
np.corrcoef(df['JobTitleLength'],df['BasePay'])

array([[1.        , 0.10121018],
       [0.10121018, 1.        ]])